{% block doc %}{% for line in t.doc %}/// {{ line }}
{% endfor %}{% endblock %}{% block derives %}#[derive({{ t.derives | join(", ") }})]
{% endblock %}{% block attrs %}{% for a in t.attrs %}{{ a }}
{% endfor %}{% endblock %}pub enum {{ t.name }} {
{% block variants %}{% for v in t.variants %}{% include "builtin/rust/variant.rs.jinja" %}{% endfor %}{% endblock %}}
{% block trailing %}{% endblock %}